@using GenomicEncryption.Models.Classes
@model List<GenomicCodes>
@{
    ViewBag.Title = "AesSifreleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aes Sifreleme Algoritması</h2>


<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="genomikSelect">Şifrelemek istediğiniz Kodun adını seçiniz</label>
                    <select class="form-control" name="genomik" id="genomikSelect">
                        @foreach (var ktgr in Model)
                        {
                            <option value="@ktgr.DEGER">@ktgr.AD - (@ktgr.DEGER)</option>

                        }

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-end flex-column">
                    <button type="button" class="btn btn-primary" onclick="sifrele()">
                        Şifrele
                    </button>
                </div>
                <div class="col-8">
                    <label for="encrypted">Şifrelenmiş Veri :</label>
                    <div class="input-group">
                        <input class="form-control" id="txtEncrypted" type="text" name="encrypted" disabled />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="kopyala()">
                                Kopyala
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="encryptionTime">Şifrelenme Süresi (μs) :</label>
                    <input class="form-control" id="txtEncryptionTime" type="text" name="encryptionTime" disabled />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <label for="cozulen">Çözmek istediğiniz Kodu giriniz</label>
                    <input class="form-control" id="txtCozulen" type="text" name="cozulen" />


                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-end flex-column">
                    <button type="button" class="btn btn-primary" onclick="coz()">
                        Çöz
                    </button>
                </div>
                <div class="col-8">
                    <label for="solved">Çözülmüş Veri :</label>
                    <input class="form-control" id="txtSolved" type="text" name="solved" disabled />
                </div>
                <div class="col">
                    <label for="decryptionTime">Çözülme Süresi (μs) :</label>
                    <input class="form-control" id="txtDecryptionTime" type="text" name="decryptionTime" disabled />
                </div>
            </div>
        </div>
    </div>

</div>




<br />
<a href="/Home/Index/" class="btn btn-danger">GERİ</a>
<a href="/Home/VeriTabaniGoruntule" class="btn btn-danger">Genetik Kodları Görüntüle</a>



@section scripts{
    <script>



        function sifrele() {

            var val = $('#genomikSelect option:selected').val();
            var mdl = {
                PlainText: val,
                EncryptedText: '',
            };
            var url = `/Encryption/IndexEncrypt/`;
            $.post(url, mdl, function (res) {
                var element = document.getElementById('txtEncrypted');
                element.value = res.EncryptedText;
                element.title = res.EncryptedText;

                var elementEncryptionTime = document.getElementById('txtEncryptionTime');
                elementEncryptionTime.value = res.EncryptionTime + " μs";

                var elapsedTime = res.EncryptionTime;

                var encryptionTimeData = {
                    AlgorithmName: "AesSifreleme",
                    IsEncrypt: true,
                    Time: elapsedTime
                };
                $.post("/Encryption/LogTime", encryptionTimeData, function (response) {
                    console.log(response);
                });

                var val = $('#genomikSelect option:selected').val();
                var mdl_encData = {
                    AlgoritmaAdi: "AesSifreleme",
                    SifrelenmisVeri: $('#txtEncrypted').val(), // Şifrelenmiş veriyi al
                };
                $.post("/Encryption/EncryptedDataSave", mdl_encData, function (res) {
                    console.log(res);
                    // İşlem tamamlandıktan sonra yapılacak işlemler...
                });
            })

        }
        function coz() {

            var val = document.getElementById('txtCozulen').value;
            var mdl = {
                PlainText: '',
                EncryptedText: val,
            };
            var url = `/Encryption/IndexDecrypt/`;
            $.post(url, mdl, function (res) {
                console.log(res);
                var element = document.getElementById('txtSolved');
                element.value = res.PlainText;
                element.title = res.PlainText;

                var elementDecryptionTime = document.getElementById('txtDecryptionTime');
                elementDecryptionTime.value = res.DecryptionTime + " μs";

                var elapsedTime = res.DecryptionTime;

                var encryptionTimeData = {
                    AlgorithmName: "AesSifreleme",
                    IsEncrypt: false,
                    Time: elapsedTime
                };
                $.post("/Encryption/LogTime", encryptionTimeData, function (response) {
                    console.log(response);
                });

            })

        }
        function kopyala() {
            var txtEncrypted = document.getElementById("txtEncrypted");
            var kopyalanacakMetin = txtEncrypted.value;

            // Geçici bir input elementi oluştur ve içeriği kopyalayıp yapıştır.
            var geciciInput = document.createElement("input");
            document.body.appendChild(geciciInput);
            geciciInput.setAttribute("value", kopyalanacakMetin);
            geciciInput.select();
            document.execCommand("copy");
            document.body.removeChild(geciciInput);

            // Kopyalanan veri hakkında bir bildirim göster
            alert("Şifrelenmiş veri kopyalandı!");
        }

    </script>


}



