@using GenomicEncryption.Models.Classes
@model List<GenomicCodes>
@{
    ViewBag.Title = "BurrowsWheelerSifreleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    h1 {
        text-align: center;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
        font-size: 60px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px;
        width: 105%;
        margin-bottom: 20px; /* Alt boşluk */
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
</style>
<h1>Burrows Wheeler Şifreleme Algoritması</h1>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="genomikSelect">Şifrelemek istediğiniz Kodun adını seçiniz</label>
                    <select class="form-control" name="genomik" id="genomikSelect">
                        @foreach (var ktgr in Model)
                        {
                            <option value="@ktgr.DEGER">@ktgr.AD - (@ktgr.DEGER)</option>

                        }

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-end flex-column">
                    <button type="button" class="btn btn-primary" onclick="sifrele()">
                        Şifrele
                    </button>
                </div>
                <div class="col-8">
                    <label for="encrypted">Şifrelenmiş Veri :</label>
                    <div class="input-group">
                        <input class="form-control" id="txtEncrypted" type="text" name="encrypted" disabled />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="kopyala()">
                                Kopyala
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="encryptionTime">Şifrelenme Süresi (μs) :</label>
                    <input class="form-control" id="txtEncryptionTime" type="text" name="encryptionTime" disabled />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <label for="cozulen">Çözmek istediğiniz Kodu giriniz</label>
                    <div class="input-group">
                        <input class="form-control" id="txtCozulen" type="text" name="cozulen" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="yapistir()">
                                Yapıştır
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-flex justify-content-end flex-column">
                    <button type="button" class="btn btn-primary" onclick="coz()">
                        Çöz
                    </button>
                </div>
                <div class="col-8">
                    <label for="solved">Çözülmüş Veri :</label>
                    <input class="form-control" id="txtSolved" type="text" name="solved" disabled />
                </div>
                <div class="col">
                    <label for="encryptionTime">Çözülme Süresi (μs) :</label>
                    <input class="form-control" id="txtDecryptionTime" type="text" name="decryptionTime" disabled />
                </div>
            </div>
        </div>
    </div>
    <br />
    <a href="/Home/Index/" class="btn btn-danger">GERİ</a>
    <a href="/Home/VeriTabaniGoruntule" class="btn btn-danger">Genetik Kodları Görüntüle</a>
</div>


@section scripts{
    <script>



        function sifrele() {

            var val = $('#genomikSelect option:selected').val();
            var mdl = {
                PlainText: val,
                EncryptedText: '',
            };
            var url = `/Encryption/IndexEncryptBurrows/`;
            console.log(val)

            console.log(mdl)

            console.log(url)
            $.post(url, mdl, function (res) {
                var element = document.getElementById('txtEncrypted');
                element.value = res.EncryptedText;
                element.title = res.EncryptedText;
                var elementEncryptionTime = document.getElementById('txtEncryptionTime');
                elementEncryptionTime.value = res.EncryptionTime + " μs";

                var elapsedTime = res.EncryptionTime;

                var encryptionTimeData = {
                    AlgorithmName: "BurrowsWheelerSifreleme",
                    IsEncrypt: true,
                    Time: elapsedTime
                };
                $.post("/Encryption/LogTime", encryptionTimeData, function (response) {
                    console.log(response);
                });
                var val = $('#genomikSelect option:selected').val();
                var mdl_encData = {
                    AlgoritmaAdi: "BurrowsWheelerSifreleme",
                    SifrelenmisVeri: $('#txtEncrypted').val(), // Şifrelenmiş veriyi al
                };
                $.post("/Encryption/EncryptedDataSave", mdl_encData, function (res) {
                    console.log(res);
                    // İşlem tamamlandıktan sonra yapılacak işlemler...
                });
            })

        }
        function coz() {

            var val = document.getElementById('txtCozulen').value;
            var mdl = {
                PlainText: '',
                EncryptedText: val,
            };
            var url = `/Encryption/IndexDecryptBurrows/`;
            $.post(url, mdl, function (res) {
                console.log(res);
                var element = document.getElementById('txtSolved');
                element.value = res.PlainText;
                element.title = res.PlainText;

                var elementDecryptionTime = document.getElementById('txtDecryptionTime');
                elementDecryptionTime.value = res.DecryptionTime + " μs";

                var elapsedTime = res.DecryptionTime;

                var encryptionTimeData = {
                    AlgorithmName: "BurrowsWheelerSifreleme",
                    IsEncrypt: false,
                    Time: elapsedTime
                };
                $.post("/Encryption/LogTime", encryptionTimeData, function (response) {
                    console.log(response);
                });
            })

        }
        function kopyala() {
            var txtEncrypted = document.getElementById("txtEncrypted");
            var kopyalanacakMetin = txtEncrypted.value;

            // Geçici bir input elementi oluştur ve içeriği kopyalayıp yapıştır.
            var geciciInput = document.createElement("input");
            document.body.appendChild(geciciInput);
            geciciInput.setAttribute("value", kopyalanacakMetin);
            geciciInput.select();
            document.execCommand("copy");
            document.body.removeChild(geciciInput);

            // Kopyalanan veri hakkında bir bildirim göster
            alert("Şifrelenmiş veri kopyalandı!");
        }

        function yapistir() {
            navigator.clipboard.readText().then(text => {
                document.getElementById('txtCozulen').value = text;
            }).catch(err => {
                console.error('Yapıştırma işlemi başarısız oldu: ', err);
            });
        }
    </script>


}



