@model GenomicEncryption.Models.Classes.GenomicCodes
@{
    ViewBag.Title = "BurrowsWheelerSifreleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Burrow Wheeler Sifreleme Algoritması</h2>
<form class=" form-group" method="post">
    <div>
        <label>Şifrelenecek Kod</label>
        @Html.TextBoxFor(m => m.DEGER, new { @class = "form-control" })
        @*<input type="text" class="form-control" name="SifrelenecekKodInput" />*@
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info"> Ekle</button>
    </div>
</form>
<br />
<a href="/Home/Index/" class="btn btn-danger">GERİ</a>
<a href="/Home/VeriTabaniGoruntule" class="btn btn-danger">Genetik Kodları Görüntüle</a>



