<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @Styles.Render("~/CSS/style.css")

    @Styles.Render("~/CSS/main.css")


</head>

<body class="transparent">    
    <header  class="transparent">
        <h1>Genetik Kod Şifreleme ve Çözme</h1>
        
        @*<div  class="main-image">
            <img src="~/IMAGE/gif.gif" alt="Genomik Veri Animasyonu">
        </div>*@
    </header>

    <div class="butonlar">
        <a href="@Url.Action("AesSifreleme")" class="btn btn-primary"> AES ŞİFRELEME</a>
        <br />
        <br />
        <a href="@Url.Action("BurrowsWheelerSifreleme")" class="btn btn-primary"> Burrows Wheeler ŞİFRELEME</a>
    </div>

    
    <footer  class="transparent">
        <p>&copy; 2023 Genetik Kod Projesi</p>
    </footer>
</body>


</html>