@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genomic Encryption - @ViewBag.Title</title>
    @Styles.Render("~/CSS/project2.css")
</head>
    <style>
        .card {
            transition: transform 0.3s ease;
        }

            .card:hover {
                transform: scale(1.5);
            }
    </style>

    <div class="container mt-4">
        <div class="row">
            <!-- Sol Kart -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Proje Nedir
                    </div>
                    <div class="card-body">
                        <p class="card-text">Sol kart içeriği burada.</p>
                    </div>
                </div>
            </div>

            <!-- Sağ Kart -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Proje Amacı
                    </div>
                    <div class="card-body">
                        <p class="card-text">Sağ kart içeriği burada.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Sol Kart -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Proje Özellikleri
                    </div>
                    <div class="card-body">
                        <p class="card-text">Sol kart içeriği burada.</p>
                    </div>
                </div>
            </div>

            <!-- Sağ Kart -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Proje Üyeleri
                    </div>
                    <div class="card-body">
                        <p class="card-text">Sağ kart içeriği burada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </html>
