@using GenomicEncryption.Models.Classes
@model List<GenomicCodes>
@{
    ViewBag.Title = "VeriTabaniGoruntule";
}
@Styles.Render("~/Content/css")


<h2>VeriTabaniGoruntule</h2>

<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>Genomik Kodlar</th>
        <th>Genomik Kodları Temsil Eden Ad </th>

    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.ID</th>
                <td>@ktgr.DEGER</td>
                <td>@ktgr.AD</td>
            </tr>
        }
    </tbody>
</table>




<a href="/Home/Index/" class="btn btn-danger">GERİ</a>

