@using GenomicEncryption.Models.Classes
@model List<GenomicCodes>
@{
    ViewBag.Title = "VeriTabaniGoruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")


<h2>...Kayıtlı Veriler...</h2>

<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>Genomik Kodlar</th>
        <th>Genomik Kodları Temsil Eden Ad </th>

    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.ID</th>
                <td>@(ktgr.DEGER.Length > 50 ? ktgr.DEGER.Substring(0, 50) + "..." : ktgr.DEGER)</td>
                <td>@ktgr.AD</td>
            </tr>
        }

    </tbody>
</table>




<a href="/Home/Index/" class="btn btn-danger">GERİ</a>

