
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @Styles.Render("~/CSS/style.css")
    @Styles.Render("~/CSS/about.css")


</head>



<body>
    <header>
        <h1>UGenEncrypt</h1>

    </header>

    <div class="card-container">
        <div class="card">
            <img src="~/IMAGE/ekip.jpg" alt="Team">
            <div class="card-content">
                <a href="/About/Team" class="btn btn-danger">Proje Ekibi</a>
                <div class="info">
                    <p>Proje Ekip Bilgileri</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="~/IMAGE/okul.jpg" alt="School">
            <div class="card-content">
                <a href="/About/School" class="btn btn-danger">Okulumuz Hakkında</a>
                <div class="info">
                    <p>Okul Bilgileri ve Hizmetleri</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="~/IMAGE/teacher.jpg" alt="Teacher">
            <div class="card-content">
                <a href="http://gozcan.home.uludag.edu.tr/" class="btn btn-danger" target="_blank">Hocamız Hakkında</a>

                <div class="info">
                    <p>Öğretmen Bilgileri ve Eğitim Yaklaşımları</p>
                </div>
            </div>
        </div>
    </div>




</body>

</html>