
@{
    ViewBag.Title = "School";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @Styles.Render("~/CSS/school.css")
</head>

<body>
    <div class="Hakkımızda">
        <img src="/IMAGE/muhendislik_fakultesi.jpg" alt="">
        <div>
            <h1>
                Hakkımızda
            </h1>
            <p>
                B.U.Ü. Bilgisayar Mühendisliği Bölümü 2009 yılında kurulmuş olup, 2016 yılında lisans ve yüksek lisans programları ve 2021 yılında doktora programı açılmıştır. Bölümümüzde yürütülen lisans eğitimi 4 yıldır ve eğitim dili Türkçedir.  Eğitsel hedeflerimiz gerekli mühendislik ve matematiksel araçları, bilimsel temelleri, Bilgisayar Mühendisliği hakkındaki temel bilgileri tasarlama ve yazılım olarak uygulama becerisini kazandırmaktır. Bölümümüzde 3 adet Profesör, 3 adet Doçent Dr., 1 adet Dr. Öğretim Üyesi, 1 adet Araştırma Görevlisi ve 4 adet Anabilim Dalı bulunmaktadır. (Bilgisayar Yazılımı, Bilgisayar Bilimleri, Siber Güvenlik, Bilgisayar Donanımı)
            </p>
        </div>
        <div>
            <h1>
                Vizyonumuz
            </h1>
            <p>Nitelikli akademisyenleri ile sanayi ve devlet kurumları ile işbirliği içinde bilgisayar mühendisliği alanında küresel düzeyde aranan mezunların yetiştirilmesi ve akademik çalışmaları ve projeleri ile tercih edilen bir bölüm olmaktır.</p>
        </div>
        <div>
            <h1>
                Misyonumuz
            </h1>
            <p>Bilgisayar Mühendisliği Bölümü, teori ve yazılım uygulamalarında yetkin mühendisler yetiştirmeyi, özgün araştırmalar yapmayı, öğrencilerine genel mühendislik ve bilgisayar mühendisliği alanında endüstride ihtiyaç duyulan konularda gerekli eğitimi vermeyi, etik değerlere bağlı, takım çalışmasına uyumlu mühendisler yetiştirmeyi ve toplumun yararına hizmet sunmayı görev edinmiştir.</p>
        </div>
        <div>
            <h1>
                Bilgisayar Mühendisliği Bölümü
            </h1>
            <p>Bilgisayar Mühendisliği, günümüz teknolojisinde hızlı bir değişim ve gelişim gösteren önemli bir mühendislik alanıdır. Bilgisayar Mühendisliğinin uygulama alanları oldukça geniş kapsamlıdır. Siber güvenlik, bilgisayar mimarisi, sanal gerçeklik, bilgisayar ağları, arama motoru teknolojileri, mobil sistem tasarımı, veri tabanı yönetim sistemleri, işletim sistemleri, yapay zeka, gömülü sistemler, algoritma tasarımı gibi temel çalışma alanlarının yanı sıra, diğer temel bilim dallarına da destek sağlayan bir yapıya bürünmüştür. Başta medikal, mühendislik ve finans olmak üzere birçok alanda yapılan çalışmalara yazılım konusunda destekler vermektedir.</p>
        </div>
    </div>
</body>
</html>
